@page "/"
@using Sol_Demo.Model

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/demo/my" class="btn btn-primary">My Component Page</a>

@{ 

    var adminModel = new AdminModel()
    {
        FirstName = "Kishor",
        LastName = "Naik"
    };

}


<Sol_Demo.Pages.Demo.MyComponent 
                                 TItem="IPersonModel" Model="adminModel" 
                                 TItem1="int" Values="10"
                                 Title="Hello From Index"></Sol_Demo.Pages.Demo.MyComponent>