@page "/demo/my"
@typeparam TItem
@typeparam TItem1
@using Sol_Demo.Data


<h3>MyComponent</h3>

<h1>@counter</h1>

<h2>Ttile : @Title</h2>

<button class="btn btn-danger" @onclick="Increment">Click Me</button>